:root {
	--main: #1B8798;
	--accent: #7818a1;
	--white: #f2f1f4;
	--gray: #d8d3d9;
	--darkGray: #1a0f13;
}
a:hover{ text-decoration: none;}
$colors: #10131f, #5d9790, #333012, #d3c548, #1a0f0b;

.text--line {
  font-size: 10rem;
  }

$max: 5;
$stroke-step: 7%; 
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 5px;
  animation: stroke-offset 7s infinite linear;
  
  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);
    
    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
      }
    }
  }

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: $stroke-step * $max;  
    stroke-dasharray: 0 $stroke-step * $max*2.5;
  }
}

.link {
	color: var(--darkgray);
	display: block;
	font-size: 19px;
	line-height: 0;
	outline: none;
	padding: 1.25rem;
	position: relative;
	text-decoration: none;
  transition: color 250ms ease;
  cursor: pointer;
}

.link::before {
	background-color: var(--main);
	border-radius: 100%;
	content: "";
	display: block;
	left: -1px;
	opacity: 0.5;
	padding: 0.75rem;
	position: absolute;
  margin: -12px 0px 0px 9px;
  transition: all 250ms ease;
  width: 2rem;
  height: 2rem;
}

.link:hover:before {
	border-radius: 4px;
	opacity: 0.9;
  width: 82%;
}

.link:hover {
  color: var(--white);
}
.link__text {
	position: relative;
  vertical-align: middle;
  cursor: pointer;
}